<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <h2>What is quality assurance (QA)?</h2>
    <h3>Definition from WhatIs.com</h3>
    <p>In developing products and services, quality assurance is any systematic process of checking to see whether a product or service being developed is meeting specified requirements. Many companies have a separate department devoted to quality assurance. A quality assurance system is said to increase customer confidence and a company's credibility, to improve work processes and efficiency, and to enable a company to better compete with others. Quality assurance was initially introduced in World War II when munitions were inspected and tested for defects after they were made. Today's quality assurance systems emphasize catching defects before they get into the final product.</p>
	<p>ISO 9000 is an international standard that many companies use to ensure that their quality assurance system is in place and effective. Conformance to ISO 9000 is said to guarantee that a company delivers quality products and services. To follow ISO 9000, a company's management team decides quality assurance policies and objectives. Next, the company or an external consultant formally writes down the company's policies and requirements and how the staff can implement the quality assurance system. Once this guideline is in place and the quality assurance procedures are implemented, an outside assessor examines the company's quality assurance system to make sure it complies with ISO 9000. A detailed report describes the parts of the standard the company missed, and the company agrees to correct any problems within a specific time. Once the problems are corrected, the company is certified as in conformance with the standard.</p>
    
  </div>
</div> 

<%= render 'shared/footer' %>
