<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <p><a href="http://en.wikipedia.org/wiki/Software_quality_assurance" target="_blank">Wikipedia</a></p>
    </div>
</div> 

<%= render 'shared/footer' %>

