<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <h2>Databases</h2>
    <h3>Databases as part of life</h3>
    <p>SQL and/or with MySQL will greatly depend on the project and/or the company with whom you hope to work. SQL skills are one aspect of Software Testing that focuses specially on technology. (c) <a href="http://sqa.stackexchange.com/users/1455/chris-kenst" target="_blank">Chris Kenst</a></p>
    <div class="row trending-listing">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/fafo2q7c8c7z.gif">
          <div class="caption">
            <span class="listing-title">Databases</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<%= render 'shared/footer' %>
