<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <h2>How to become QA</h2>
    <p>The QA Tester is the heart and soul of the software development process. Each project team member has their role to play; each has their own unique challenges. The successful Quality Assurance Tester gains respect by holding the bar high, carrying the Standard, and being the champion for the level of quality (product and otherwise) throughout the organization.</p>
	<p>Although not often granted the authority to officially prevent software from shipping, the tester is nonetheless in the best position to know the current project state at any given time. The final “go / no-go” call to ship or not may be left to the QA Lead, or the QA Manager, or perhaps even a project manager, but the input they receive from the tester is critical.</p>
	<p>Is becoming a Software Quality Assurance Tester easy? Actually yes, it is fairly easy. There are many entry-level positions open all the time in the testing arm of the software industry. Even during times of economic slowdown, finding an open slot to fill is not really the hard part. With software development occurring all over the world at an increasing rate, there are now and will continue to be software testing positions open that need to be filled.</p>
	<p>The “hard part” is keeping the job once you have been hired. Many companies fill their available QA Tester positions with temps. These hires are most often managed on a per-project basis. Although by no means the most efficient (or effective) way to manage testing, this allows a company to rid itself of temps who cannot cut it as a QA Tester as soon as the project is complete (if not sooner).</p>
	  
  </div>
</div> 

<%= render 'shared/footer' %>