<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <h2>Networks</h2>
    <h3>Is it necessary?</h3>
    <p>Good testers have critical thinking, analytical, and investigative skills. They understand risk and have a deep understanding where bugs tend to hide. They have excellent communication skills. Most good testers have some measure of technical skill such as system administration, databases, networks, etc. that lends itself to gray box testing. (c) <a href="http://testobsessed.com/about.html" target="_blank">Elisabeth Hendrickson</a></p>
    <div class="row trending-listing">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/zwu93whjh6a6.gif">
          <div class="caption">
            <span class="listing-title">Networks</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<%= render 'shared/footer' %>

