<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <h2>Programming</h2>
    <h3>Do Testers Have to Write Code?</h3>
    <p>This question you ask is one on which many traditional testers depend for career survival. 
    Short answer is maybe. You are right to identify the work flow as an issue, but the work flow is simple compared with training for programming and development. Making testers into programmers may be a bridge too far. There are many other skills that have closer affinity to your testers' current skill set.
	I think there is a role for Software Test Engineers, but two new creatures are on the scene, the Test Driven Developer and the Software Development Engineer in Test who will take over a lot of turf that used to belong to the STE. (c) <a href="http://programmers.stackexchange.com/users/61659/developerdon" target="_blank">DeveloperDon</a></p>
    <div class="row trending-listing">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/2pkejt9hjpm5.gif">
          <div class="caption">
            <span class="listing-title">Programming</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<%= render 'shared/footer' %>

