<%= render 'shared/topnav' %>

<div class="trending">
  <div class="container">
    <h2>Quality Assurance</h2>
    <h3>QA in software development</h3>
    <p>Software Quality Assurance consists of a means of monitoring the software engineering processes and methods used to ensure quality. The methods by which this is accomplished are many and varied, and may include ensuring conformance to one or more standards, such as ISO 9000 or a model such as CMMI. (c) <a href="http://en.wikipedia.org/wiki/Quality_assurance#QA_in_software_development" target="_blank">Wiki</a></p>
    <div class="row trending-listing">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/swkx0lkv8bkc.gif">
          <div class="caption">
            <span class="listing-title">Quality Assurance</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<%= render 'shared/footer' %>
