<%= render 'shared/topnav' %>

<div class="container">
  <div class="jumbotron" style="background-image: url(http://4.firepic.org/4/images/2014-12/23/nik5jlbi6ltl.jpg)">
    <h1>QA in Odessa</h1>
      <p>All what you want to know about Software Testing</p>
      <p><a class="btn btn-lg btn-primary" role="button" href="#">What is Software Testing? »</a></p>
  </div>
</div>


<div class="trending">
  <div class="container">
    <h2>Necessary knowledge</h2>
    <p>What you have to know to became Software Tester?</p>
    <div class="row trending-listing">
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/swkx0lkv8bkc.gif">
          <div class="caption">
            <span class="listing-title">Quality Assurance</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/zwu93whjh6a6.gif">
          <div class="caption">
            <span class="listing-title">Networks</span>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/fafo2q7c8c7z.gif">
          <div class="caption">
            <span class="listing-title">Databases</span>
          </div>
        </div>
      </div>
       <div class="col-xs-6 col-md-3">
        <div class="thumbnail">
          <img src="http://2.firepic.org/2/images/2014-12/23/2pkejt9hjpm5.gif">
          <div class="caption">
            <span class="listing-title">Programming</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<%= render 'shared/footer' %>

